:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
body,
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--background-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu-wrap {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: var(--grey);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menu-item:hover,
.menu-item.active {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
}
.cart-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.cart-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
}
.fullheight {
  height: 100vh;
}
.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
section {
  padding: 9rem 0;
}
.slogan {
  text-align: left;
}

.slogan h1 {
  font-size: 4.5rem;
  color: var(--primary-color);
}

.slogan button {
  padding: 1rem 5rem;
  outline: none;
  border: none;
  background-color: var(--background-color);
  border: 0.125rem solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
  margin: 3rem 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.slogan button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.fullwidth {
  width: 100%;
}

#about img {
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.about-slogan {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.about-slogan.start {
  transform: translateX(-10rem) !important;
}

.about-slogan h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--grey);
}
.primary-color {
  color: var(--primary-color);
}
.book-menu {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book-menu h1 {
  color: var(--grey);
}

.book-menu p {
  margin: 2rem 0;
}
.book-category {
  display: flex;
}

.book-category button {
  padding: 0.5rem 2.5rem;
  margin: 0 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.book-category button:hover,
.book-category button.active {
  background-color: var(--primary-color);
  color: var(--white);
}
/* .book-item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
}

.book-item {
    width: 25%;
    height: 30rem;
    padding: 1rem;
}

.item-wrap {
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
}

.item-wrap:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-img {
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.img-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 2rem;
}

.img-holder:hover {
    transform: scale(2) rotate(45deg);
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

.item-info h3 {
    color: var(--grey);
}

.item-info>div:first-child {
    text-align: left;
} */


.container-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.container-book .box {
    position:relative;
    width:100%;
    height:auto;
    max-width: 250px;
    background:#012815;
    float:left;
    margin: 1rem;
    margin-top: 1rem;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(1, 23, 13, 0.8);
}
.container-book .box:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleX(0);
    opacity:0;
}
.container-book .box:hover:before {
    transform:scaleX(1);
    opacity:1;
}
.container-book .box:after {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleY(0);
    opacity:0;
}
.container-book .box:hover:after {
    transform:scaleY(1);
    opacity:1;
}
.container-book .box .imgBox {
    position:relative;
}
.container-book .box .imgBox img {
        width:100%;
    
    transition:0.5s;
}
.container-book .box:hover .imgBox img {
    opacity:.2;
    transform:scale(1.2);
}
.container-book .box .content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:7%;
    box-sizing:border-box;
    text-align:center;
}
.container-book .box .content h2 {
    margin: 0 0 10px;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;
}
.container-book .box .content p {
    margin:0;
    padding:0;
    color:#fff;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
    font-size: auto;
}
.container-book .box:hover .content h2,
.container-book .box:hover .content P,.container-book .box:hover .content i{
    font-size: auto;
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}

.cart-btn-book {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  visibility:hidden;
}

.container-book .box .content i:hover  {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 8%;
}


/* GRID SYSTEM */

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.mb-nav {
  display: none;
}
/* END MOBILE NAV */

/* .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.66%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .h-xs {
        display: none;
    } */
